// Place all the styles related to the reports controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.main {
    margin-top: 5px;
}

.field-pair {
    float: left;
    padding: 20px 0;
    width: 100%;
}

.label-field {
    padding-right: 20px;
    float: left;
}

.field-pair {
    float: left;
}

.label-pair {
    float: left;
}

.date-field {
    float: right;
}

.start-date {
    float: left;
    padding-right: 20px;
}

.end-date {
    float: left;
    padding-left: 20px;
}

.submit {
    width: 100%;
}

.report {
    margin-top: 30px;
}

.report, th, td{
    border: 1px solid black;
    padding: 15px;
    text-align: center;
}

.no-entries {
    margin-top: 30px;
    border: 1px solid gray;
    text-align: center;
    font-size: 20px;
}